.overlay {
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  background: #272a36b7;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog {
  background: #fff;
  color: var(--color-text);
  border-radius: 16px;
  padding: 2.3em 2.19em 1.15em 2.19em;
  box-shadow: 0 7px 26px 5px #181d335a;
  min-width: min(94vw, 380px);
  max-width: 99vw;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.dialog h3 {
  text-align: center;
  margin-bottom: 0.4em;
  color: var(--color-primary);
}
.label {
  font-size: 0.98em;
  margin-bottom: 0.11em;
  color: #7575ad;
  font-weight: 500;
}
.input, .textarea {
  font-size: 1.09em;
  box-sizing: border-box;
  width: 100%;
  padding: 0.34em 0.68em;
  border: 1px solid #e7e7eb;
  border-radius: 7px;
  margin-bottom: 0.12em;
  background: #fbfaff;
  margin-top: 0.13em;
}
.input:focus,
.textarea:focus {
  border-color: var(--color-primary);
  background: #ececff;
  outline: none;
}
.textarea {
  font-family: inherit;
}
.buttons {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  margin-top: 1em;
}
.saveBtn {
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.45em 1.4em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
.saveBtn:hover {
  background: #3c35ba;
}
.cancelBtn {
  border: 1.2px solid #aaa;
  background: #f5f5f9;
  color: #565680;
  border-radius: 6px;
  padding: 0.41em 1.1em;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}
.cancelBtn:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
